<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - {{ description }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="/"><img class="logo" src="https://gyazo.com/bb7a116f0ad12244843ae086507be2e1.png" width="auto" height="30px"></a>
      <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </header>

  <main class="container">

    <div id="main-slogan-area">
      <h2>Designing * Engineering</h2>
    </div>

    <div class="top-thumbs">
      <div class="full-thumb">
        <a href="/projects/wonder"><img src="https://gyazo.com/4d0e773498f7ed95d94bc58a2284c277.png"></a>
      </div>
    </div>

  </main>

  <footer>
    <p>Designed by <a href="/hikaru">🌟</a></p>
  </footer>

</body>
</html>
