<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - {{ sitename   }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="/"><img class="logo" src="https://gyazo.com/bb7a116f0ad12244843ae086507be2e1.png" width="auto" height="30px"></a>
      <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </header>

  <main id="projects-container">

    <div class="post-header container">
      <h1>Hikaru Ito</h1>
      <p>伊藤 輝</p>
    </div>

    <div class="post-content container">

      <div id="profile">

        <div class="row">
          <div class="item three columns"><h5>About</h5></div>
          <div class="item nine columns">
            <p>Engineer, UI Designer & entrepreneur</p>
          </div>
        </div>

        <div class="row">
          <div class="item three columns"><h5>Career</h5></div>
          <div class="item nine columns">

            <div class="section">
              <h6>University of Keio</h6>
              <p>UI Research</p>
              <p>2014 - </p>
            </div>

            <div class="section">
              <h6>Leapcast</h6>
              <p>founder</p>
              <p>2013 - </p>
            </div>

            <div class="section">
              <h6>Hokkaido Sapporo Asahigaoka High School</h6>
              <p>General Course</p>
              <p>2011 - 2013</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="item three columns"><h5>Awards</h5></div>
          <div class="item nine columns">

            <div class="section">
              <h6>Second place, SAP Startup forum Tokyo</h6>
              <p>Startup contest</p>
              <p>2013</p>
            </div>

            <div class="section">
              <h6>Prize, Mashup Awards 9</h6>
              <p>Develop contest</p>
              <p>2013</p>
            </div>

            <div class="section">
              <h6>Finalist, Mashup Awards 8</h6>
              <p>Develop contest</p>
              <p>2012</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="item three columns"><h5>Speech</h5></div>
          <div class="item nine columns">

            <div class="section">
              <h6>Development of IoT Devices with Cordova Applications</h6>
              <p>Microsoft Tokyo office</p>
              <p>2015 Nov.</p>
            </div>

            <div class="section">
              <h6>Development of iOS Applications</h6>
              <p>AppleStore, Sapporo</p>
              <p>2014 Jan.</p>
            </div>

            <div class="section">
              <h6>Development of Hybrid Mobile Applications</h6>
              <p>Open Source Conference, Hokkaido</p>
              <p>2013 Nov.</p>
            </div>

            <div class="section">
              <h6>Development of Web Applications</h6>
              <p>AppleStore, Sapporo</p>
              <p>2013 Jan.</p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="item three columns"><h5>Projects</h5></div>
          <div class="item nine columns">

            <div class="section">
              <h6><a href="/projects">See more</a></h6>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="item three columns"><h5>Skills</h5></div>
          <div class="item nine columns">
            <p>Javascript, Java, Swift, Ruby, PHP, Python, C++/C, Obj-c, R</p>
            <p>NodeJS, AngularJS, Angular2, Express, ReactJS, Backbone.js, jQuery, NodeLinda, openFrameworks, OpenGL, scikit-learn, Jubatus</p>
            <p>MySQL, MongoDB, Redis</p>
            <p>Arduino, Raspberry pi</p>
            <p>Xcode, Android Studio, Git, Heroku, AWS</p>
          </div>
        </div>


        <div class="row">
          <div class="item three columns"><h5>Contact</h5></div>
          <div class="item nine columns">
            <p>hikaru@leapcast.jp</p>
            <p><a href="https://twitter.com/hkrit0" target="_blank">Twitter</a></p>
            <p><a href="https://github.com/Hikaru-Ito" target="_blank">Github</a></p>
            <p></p>
          </div>
        </div>

      </div>

      <time>{{ date }}</time>
    </div>

  </main>

  <footer>
    <p>Designed by <a href="/hikaru">🌟</a></p>
  </footer>

</body>
</html>
