<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - {{ sitename   }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <a href="/"><img class="logo" src="https://gyazo.com/bb7a116f0ad12244843ae086507be2e1.png" width="auto" height="30px"></a>
      <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </header>

  <main id="projects-container">

    <div class="post-header container">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>

    <div class="post-content container">

      <div id="projects">

        <div class="section">
          <h6><a href="/projects/appcube">AppCube</a></h6>
          <p>Engineer & Designer / Smartapp, Inc</p>
          <p>Web Application Development & UI Design (2015 - 2016)</p>
        </div>

        <div class="section">
          <h6><a href="/projects/worldcafe">World Cafe</a></h6>
          <p>UIDesigner / Gratefuldays, Inc</p>
          <p>Mobile App UI Design (2015)</p>
        </div>

        <div class="section">
          <h6><a href="/projects/tabeiko">Tabeiko</a></h6>
          <p>Engineer & Designer / T.M community, Inc</p>
          <p>iOS/Android Application Development & UI Design (2014)</p>
        </div>


        <div class="section">
          <h6><a href="/projects/watertracker">WaterTracker</a></h6>
          <p>BLE IoT device and iOS/Android app to track the remaining amount of PET bottles</p>
        </div>

        <div class="section">
          <h6><a href="/projects/stream">Stream</a></h6>
          <p>News app UI system with online machine learning</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/Gyazz-App" target="_blank">GyazzApp</a></h6>
          <p>gyazz.com client iOS/Android application</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/MenthasSwiftApp" target="_blank">MenthasSwiftApp</a></h6>
          <p>Tech News iOS app for Programmer written in Swift</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/BarcodeMessangerApp" target="_blank">BarcodeMessangerApp</a></h6>
          <p>Embed a message string to bar code</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/WebMobileAnimationUIPad" target="_blank">WebMobileAnimationUI</a></h6>
          <p>Mobile Animation UI with CSS</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/MotionPiano" target="_blank">MotionPiano</a></h6>
          <p>Dynamic Motion UI with OpenCV and OpenFrameworks</p>
        </div>

        <div class="section">
          <h6><a href="/projects/recommender">Recommender</a></h6>
          <p>News curation application</p>
        </div>

        <div class="section">
          <h6><a href="https://github.com/Hikaru-Ito/Sneaker.js" target="_blank">Sneaker.js(deprecated)</a></h6>
          <p>HTML5 Mobile Application Page Transition Framework</p>
        </div>

        <div class="section">
          <h6><a href="http://shakewall.com/">ShakeWall</a></h6>
          <p>Student SNS</p>
        </div>

      </div>

      <time>{{ date }}</time>
    </div>

  </main>

  <footer>
    <p>Designed by <a href="/hikaru">🌟</a></p>
  </footer>

</body>
</html>
